<div class="panel panel-default">

	<div class="panel-heading">New Song</div>
		<table class="table table-bordered">
<%= form_for @song,:url=>song_path,:method=>:patch do |s| %>
			<%= render :partial => "form",:locals => { :s =>s } %>
		</table>

</div>

	<%= link_to "Back", songs_path, :class=>"btn btn-default" %>
	<%= s.submit "Save",:class=>"btn btn-default" %>

<% end %>