<%= form_for @song,:url=>song_path,:method=>:patch do |s| %>
	<ul>
		<%= render :partial => "form",:locals => { :s =>s } %>
		<li>
			<%= link_to "Back", songs_path %>
			<%= s.submit "Save" %>
		</li>
	</ul>
<% end %>	